/* === FONTS === */

/* === VARIABLES ===  */
:root {
    /* Sizes */

    /* Colors */
    --cogip-header: #e9ecef;
    --cogip-main: white; /*antiquewhite;*/
    --cogip-footer: #e9ecef;

    --cogip-logo-title: #61122f;
    --cogip-ratings-star: #303030;
    --cogip-ratings-text: #303030;
    --cogip-hamburger-bars: #61122f;

    --cogip-link: #221a15;
    --cogip-link-active: #b43000;
    --cogip-dashboard: #d4ddf9;
    --cogip-dashboard-link: #221a15;
}

/* === USER PAGES === */

/* MAIN BLOCKS */
body, html {height: 100%;}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(375px, 1fr);
    grid-template-rows: auto 1fr auto;
}

#header {background-color: var(--cogip-header);}
#footer {background-color: var(--cogip-footer)}
#main {
    background-color: var(--cogip-main);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;

}
.dashboard {
    background-color: var(--cogip-dashboard);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* LOGO */
.logo__title {
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Monoton';
    color: var(--cogip-logo-title);
}
.logo__ratings {
    font-size: 1rem;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cogip-ratings-text);
}
.logo__ratings .fa-star {color: var(--cogip-ratings-star);}

/* HAMBURGER ICON */
button * {pointer-events: none;}
.nav__hamburger:active {
    border: none;
    outline: none;
}
.line {
    display: block;
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all 0.4s;
    background-color: var(--cogip-hamburger-bars);
}
.change .line1 {transform: rotate(-45deg) translate(-5px, 6px);}
.change .line2 {opacity: 0;}
.change .line3 {transform: rotate(45deg) translate(-5px, -6px);}

/* NAV LINKS (main content) */
.nav-link {
    font-size: 0.95rem;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.5s;
}
.nav-link--active, .nav-link:hover {color: var(--cogip-link-active);}
.nav-link::after {
    display: block;
    content: "";
    height: 1rem;;
    border-bottom: 3px solid var(--cogip-link-active);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}
.nav-link:hover::after {transform: scaleX(1);}
.nav-link::after {transform-origin: 0% 50%;}
#nav-top .nav-link:not(.nav-link--active) {color: var(--cogip-link);} 

/* MAIN CONTENT */
.content__title {
    font-size: 1.75rem;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid currentColor;
}


/* FOOTERS */
.footer__copy {text-align: center;}


/* === ADMIN PAGES === */

/* NAV LINKS (dashboard) */
#nav-sidebar .nav-link:not(.nav-link--active) {color: var(--cogip-dashboard-link);}

/* LOGIN FORM */
.login, .new-user, .reset {
    display: grid;
    grid-template-columns: 1fr minmax(375px, 2fr) 1fr;
}
.form {
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.2); 
    grid-column-start: 2;
}
.password {cursor: pointer;}
.remember__paddle {
    display: inline-block;
    position: relative;
    height: 33px;
    width: 60px;
}
.remember--active, .remember--inactive {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700px;
    font-size: 0.95rem;
    color: #f5f5f5;
}
.remember--inactive {left: 33px;}
.remember--active {
    left: 5px;
    z-index: 999;
}
.remember__input {display:none;}
.remember__slider {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #303030;
    bottom: 0;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 5px;
}
.remember__slider:before {
    position: absolute;
    left: 4px;
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 25px;
    width: 25px;
    transition: .4s;
    border-radius: 5px;
    z-index: 999;
}
.remember__input:checked + .remember__slider {background-color: #23629f;}
.remember__input:checked + .remember__slider:before {transform: translateX(25px);}
.form .btn {
    background-color: #23629f;
    color: #f5f5f5;
    display: block;
    width: 100%;
}
.form button:hover {
    color: #f5f5f5;
    background-color: rgba(35, 98, 159, 0.8);
}
.reset__link {text-align: right;}
.login__reset a {color: #0000a0}

/* RESET (password) */


/* NEW USER FORM */
option[default] {display: none;}














